{% extends "movies/header.html" %}

{% block content %}


<div class="jumbotron">

    <h2 class="display-4">Our Philosophy</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate nulla, laboriosam illum odio quae tenetur. Repudiandae earum vel ipsam nobis minima? Eum commodi illum dolorem excepturi fuga dolorum blanditiis?
    </p>
    <p class="lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, deserunt cupiditate vel ipsa, in necessitatibus magnam ipsam minima hic suscipit debitis repellendus odio at aperiam quibusdam perspiciatis quod illo blanditiis.
    </p>
    
</div>


<div class="jumbotron">

    <h2 class="display-4">The Reviewers</h2>


    <div class="container mt-4">
        <div class="row">

            <div class="col">
                <img class="img-fluid img-thumbnail" src="/media/reviewerInfo/ankur/avatar_ankur.png" alt="avatar_ankur" height="175rem" width="175rem">
            </div>
    
            <div class="col">
                <h2>Ankur</h2>
                <h3 class="font-weight-light font-italic">(The Vodka)</h3>
            </div>
    
        </div>
    
        <div class="row">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate nulla, laboriosam illum odio quae tenetur. Repudiandae earum vel ipsam nobis minima? Eum commodi illum dolorem excepturi fuga dolorum blanditiis?
            </p>
        </div>
    </div>



    <div class="container mt-3">
        <div class="row">

            <div class="col">
                <img class="img-fluid img-thumbnail" src="/media/reviewerInfo/dipen/avatar_dipen.jpg" alt="avatar_dipen" height="175rem" width="175rem">
            </div>
    
            <div class="col">
                <h2>Dipen</h2>
                <h3 class="font-weight-light font-italic">(The Tequila)</h3>
            </div>
    
        </div>
    
        <div class="row">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate nulla, laboriosam illum odio quae tenetur. Repudiandae earum vel ipsam nobis minima? Eum commodi illum dolorem excepturi fuga dolorum blanditiis?
            </p>
        </div>
    </div>



    <div class="container mt-3">
        <div class="row">

            <div class="col">
                <img class="img-fluid img-thumbnail" src="/media/reviewerInfo/ashesh/avatar_ashesh.jpg" alt="avatar_ashesh" height="175rem" width="175rem">
            </div>
    
            <div class="col">
                <h2>Ashesh</h2>
                <h3 class="font-weight-light font-italic">(The Rum)</h3>
            </div>
    
        </div>
    
        <div class="row">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate nulla, laboriosam illum odio quae tenetur. Repudiandae earum vel ipsam nobis minima? Eum commodi illum dolorem excepturi fuga dolorum blanditiis?
            </p>
        </div>
    </div>
    



    <div class="container mt-3">
        <div class="row">

            <div class="col">
                <img class="img-fluid img-thumbnail" src="/media/reviewerInfo/shantnu/avatar_shantnu.jpeg" alt="avatar_shantnu" height="175rem" width="175rem">
            </div>
    
            <div class="col">
                <h2>Shantnu</h2>
                <h3 class="font-weight-light font-italic">(The Gin)</h3>
            </div>
    
        </div>
    
        <div class="row">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate nulla, laboriosam illum odio quae tenetur. Repudiandae earum vel ipsam nobis minima? Eum commodi illum dolorem excepturi fuga dolorum blanditiis?
            </p>
        </div>
    </div>




    <div class="container mt-3">
        <div class="row">

            <div class="col">
                <img class="img-fluid img-thumbnail" src="/media/reviewerInfo/jayant/avatar_jayant.jpeg" alt="avatar_jayant" height="175rem" width="175rem">
            </div>
    
            <div class="col">
                <h2>Jayant</h2>
                <h3 class="font-weight-light font-italic">(The Triple Sec)</h3>
            </div>
    
        </div>
    
        <div class="row">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate nulla, laboriosam illum odio quae tenetur. Repudiandae earum vel ipsam nobis minima? Eum commodi illum dolorem excepturi fuga dolorum blanditiis?
            </p>
        </div>
    </div>






</div>





<!-- Below is the buttons-idea -->


<!-- This is the container for row of buttons -->


<!-- <div class="row align-items-center">

    <div class="col text-center m-3">
        <button class="btn btn-outline-dark review_ankur_button" type="button" data-toggle="collapse">Ankur</button>
    </div>
    
    <div class="col text-center m-3">
        <button class="btn btn-outline-dark review_dipen_button" type="button" data-toggle="collapse">Dipen</button>
    </div>
    
    <div class="col text-center m-3">
        <button class="btn btn-outline-dark review_shantnu_button" type="button" data-toggle="collapse">Shantnu</button>
    </div>
    
    <div class="col text-center m-3">
        <button class="btn btn-outline-dark review_ashesh_button" type="button" data-toggle="collapse">Ashesh</button>
    </div>
    
    <div class="col text-center m-3">
        <button class="btn btn-outline-dark review_jayant_button" type="button" data-toggle="collapse">Jayant</button>
    </div>
    
</div> -->



<!-- From here, it's basically all 5 bios -->


<!-- <div class="container review_ankur">
    <div class="card">

        <div class="jumbotron">

            <h6 class="lead">Ankur's Bio</h6>

            <br><br>

        </div>

    </div>
</div>





<div class="container review_dipen">
    <div class="card">

        <div class="jumbotron">

            <h6 class="lead">Dipen's Bio</h6>

            <br><br>

        </div>

    </div>
</div>




<div class="container review_shantnu">
    <div class="card">

        <div class="jumbotron">

            <h6 class="lead">Shantnu's Bio</h6>

            <br><br>

        </div>

    </div>
</div>

    


<div class="container review_ashesh">
    <div class="card">

        <div class="jumbotron">

            <h6 class="lead">Ashesh's Bio</h6>

            <br><br>

        </div>

    </div>
</div>



<div class="container review_jayant">
    <div class="card">

        <div class="jumbotron">

            <h6 class="lead">Jayant's Bio</h6>

            <br><br>

        </div>

    </div>
</div>


<div class="container review_placeholder">
    <div class="card">

        <div class="jumbotron">

            <h6 class="lead">Click on names/metrics for their review</h6>
            <h6 class="lead">the buttons are just there!</h6>

            <br><br>

        </div>

    </div>
</div> -->



		
{% endblock %}	



