{% extends "movies/header.html" %}

{% block content %}



	<!-- This is the container for movie name and personalized metrics -->

	{% if movie_post != None %}
		
	<div class="row m-2 align-items-center">

		<!-- This is the left part with movie poster -->
		
		<div class="col-sm-12 col-md-6 col-lg-6 text-center mt-4 mt-md-0">
			<img src="{{ movie_post.moviePoster.url }}" class="img-fluid img-responsive shadow-lg" alt="{{movie_post.moviePoster.url}}" height="375rem" width="375rem">
		</div>


		
		<!-- This is the right part with the personalized metrics -->
		<div class="col-sm-12 col-md-6 col-lg-6">


			<!-- 1/3 This is the left part with movie title and summary -->
			<div class="row mt-4">

				<div class="container text-center">
	
					<h1>{{movie_post.movieTitle}} <br>
						<small class="text-muted"> ({{movie_post.releaseYear}})</small>
					</h1>
		
				</div>
				
				<br><br><br>

				<p>{{movie_post.movieSummary}}</p>
			</div>	


			<!-- 2/3 metrics part -->
			<div class="mt-4">
				
				<!-- three metrics up -->
				<div class="row m-2">

					<div class="col text-left">

						{% if like_ankur != None %}
							<img src="/media/reviewerInfo/dipen/pos_dipen.png" class="img-fluid review_ankur_button" type="button" data-toggle="collapse" alt="plus" height="55rem" width="55rem">
						{% else %}
							<img src="/media/reviewerInfo/dipen/neg_dipen.png" class="img-fluid review_ankur_button" type="button" data-toggle="collapse" alt="minus" height="55rem" width="55rem">
						{% endif %}

						<p>Ankur</p>

					</div>


					<div class="col text-center">

						{% if like_dipen != None %}
							<img src="/media/reviewerInfo/dipen/pos_dipen.png" class="img-fluid review_dipen_button" type="button" data-toggle="collapse" alt="plus" height="55rem" width="55rem">
						{% else %}
							<img src="/media/reviewerInfo/dipen/neg_dipen.png" class="img-fluid review_dipen_button" type="button" data-toggle="collapse" alt="minus" height="55rem" width="55rem">
						{% endif %}

						<p>Dipen</p>

					</div>


					<div class="col text-right">

						{% if like_ashesh != None %}
							<img src="/media/reviewerInfo/dipen/pos_dipen.png" class="img-fluid review_ashesh_button" type="button" data-toggle="collapse" alt="plus" height="55rem" width="55rem">
						{% else %}
							<img src="/media/reviewerInfo/dipen/neg_dipen.png" class="img-fluid review_ashesh_button" type="button" data-toggle="collapse" alt="minus" height="55rem" width="55rem">
						{% endif %}

						<p>Ashesh</p>
				
					</div>


				</div>



				<!-- two metrics down -->
				<div class="row m-2">


					<div class="col text-center ml-5">

						{% if like_shantnu != None %}
							<img src="/media/reviewerInfo/dipen/pos_dipen.png" class="img-fluid review_shantnu_button" type="button" data-toggle="collapse" alt="plus" height="55rem" width="55rem">
						{% else %}
							<img src="/media/reviewerInfo/dipen/neg_dipen.png" class="img-fluid review_shantnu_button" type="button" data-toggle="collapse" alt="minus" height="55rem" width="55rem">
						{% endif %}

						<p>Shantnu</p>

					</div>

					<div class="col"></div>

					<div class="col text-center mr-5">

						{% if like_jayant != None %}
							<img src="/media/reviewerInfo/dipen/pos_dipen.png" class="img-fluid review_jayant_button" type="button" data-toggle="collapse" alt="plus" height="55rem" width="55rem">
						{% else %}
							<img src="/media/reviewerInfo/dipen/neg_dipen.png" class="img-fluid review_jayant_button" type="button" data-toggle="collapse" alt="minus" height="55rem" width="55rem">
						{% endif %}

						<p>Jayant</p>

					</div>

					

				</div>

			</div>


			<!-- 3/3 final line -->
			<div class="row justify-content-center mt-3">
				<h5 class="movieNumbers" style="color: #f2d517;"> {{ totalLikes }} out of 5 of us liked the movie!</h5>
			</div>


		</div>	

	</div>



		{% else %}
			No doi

	{% endif %}





	<!-- This is the container for row of buttons -->


	<div class="row align-items-center mb-2 mx-1">

		<div class="col text-center m-3 d-none d-md-block d-lg-block d-xl-block">
			<button class="btn btn-outline-light review_ankur_button" type="button" data-toggle="collapse" >Ankur's Review</button>
		</div>
		
		<div class="col text-center m-3 d-none d-md-block d-lg-block d-xl-block">
			<button class="btn btn-outline-light review_dipen_button" type="button" data-toggle="collapse" >Dipen's Review</button>
		</div>
		
		<div class="col text-center m-3 d-none d-md-block d-lg-block d-xl-block">
			<button class="btn btn-outline-light review_shantnu_button" type="button" data-toggle="collapse" >Shantnu's Review</button>
        </div>
		
		<div class="col text-center m-3 d-none d-md-block d-lg-block d-xl-block">
			<button class="btn btn-outline-light review_ashesh_button" type="button" data-toggle="collapse" >Ashesh's Review</button>
		</div>
		
		<div class="col text-center m-3 d-none d-md-block d-lg-block d-xl-block">
			<button class="btn btn-outline-light review_jayant_button" type="button" data-toggle="collapse" >Jayant's Review</button>
		</div>
		

	</div>



	<!-- From here, it's basically all 5 reviews -->




	<div class="container review_ankur">
		<div class="jumbotron border">

			{% if ankur_post != None %}

				<!-- Review Title -->
				<div class="mx-3 pr-0 pr-md-3 mb-4 d-flex">				

					<!-- this is for all devices except small screen ones -->
					<h2 class="display-4 d-none d-md-block d-lg-block d-xl-block font-weight-bold">{{ankur_post.reviewTitle}}</h2>

					<!-- this div is only for small screen and xs screens -->
					<h2 class="display-5 d-xs-block d-sm-block d-md-none font-weight-bold">{{ankur_post.reviewTitle}}</h2>

					<div class="col"></div>

					<!-- Avatar pic -->
					<img class="img-fluid" src="/media/reviewerInfo/ankur/avatar_ankur.png" alt="avatar_ankur" height="100rem" width="100rem">		

				</div>


				<!-- Review time/date -->
				<div class="row mx-3 my-2">
					<h6 class="lead">reviewed on {{ankur_post.reviewDate}}</h6>
				</div>


				<!-- Yellow Line -->
				<div class="row ml-1">
					<div class="col-5 text-left"> 
						<hr class="yellowSeparator">
					</div>
					<div class="col"></div>
					<br><br>
				</div>


				<!-- Content -->

				<div class="row mx-1 justify-content-center">
					{{ankur_post.reviewBody|safe|linebreaks}}
				</div>



				{% else %}
				<p class="lead">No review by Ankur</p>


			{% endif %}

		</div>
	</div>



	
	<div class="container review_dipen">
		<div class="jumbotron border">

			{% if dipen_post != None %}

				<!-- Review Title -->
				<div class="mx-3 pr-0 pr-md-3 mb-4 d-flex">				

					<!-- this is for all devices except small screen ones -->
					<h2 class="display-4 d-none d-md-block d-lg-block d-xl-block font-weight-bold">{{dipen_post.reviewTitle}}</h2>

					<!-- this div is only for small screen and xs screens -->
					<h2 class="display-5 d-xs-block d-sm-block d-md-none font-weight-bold">{{dipen_post.reviewTitle}}</h2>

					<div class="col"></div>

					<!-- Avatar pic -->
					<img class="img-fluid" src="/media/reviewerInfo/dipen/avatar_dipen.jpg" alt="avatar_dipen" height="100rem" width="100rem">		

				</div>


				<!-- Review time/date -->
				<div class="row mx-3 my-2">
					<h6 class="lead">reviewed on {{dipen_post.reviewDate}}</h6>
				</div>


				<!-- Yellow Line -->
				<div class="row ml-1">
					<div class="col-5 text-left"> 
						<hr class="yellowSeparator">
					</div>
					<div class="col"></div>
					<br><br>
				</div>


				<!-- Content -->

				<div class="row mx-1 justify-content-center">
					{{dipen_post.reviewBody|safe|linebreaks}}
				</div>



				{% else %}
				<p class="lead">No review by Dipen</p>


			{% endif %}

		</div>
	</div>




	<div class="container review_shantnu">
		<div class="jumbotron border">

			{% if shantnu_post != None %}

				<!-- Review Title -->
				<div class="mx-3 pr-0 pr-md-3 mb-4 d-flex">				

					<!-- this is for all devices except small screen ones -->
					<h2 class="display-4 d-none d-md-block d-lg-block d-xl-block font-weight-bold">{{shantnu_post.reviewTitle}}</h2>

					<!-- this div is only for small screen and xs screens -->
					<h2 class="display-5 d-xs-block d-sm-block d-md-none font-weight-bold">{{shantnu_post.reviewTitle}}</h2>

					<div class="col"></div>

					<!-- Avatar pic -->
					<img class="img-fluid" src="/media/reviewerInfo/shantnu/avatar_shantnu.jpeg" alt="avatar_shantnu" height="100rem" width="100rem">		

				</div>


				<!-- Review time/date -->
				<div class="row mx-3 my-2">
					<h6 class="lead">reviewed on {{shantnu_post.reviewDate}}</h6>
				</div>


				<!-- Yellow Line -->
				<div class="row ml-1">
					<div class="col-5 text-left"> 
						<hr class="yellowSeparator">
					</div>
					<div class="col"></div>
					<br><br>
				</div>


				<!-- Content -->

				<div class="row mx-1 justify-content-center">
					{{shantnu_post.reviewBody|safe|linebreaks}}
				</div>



				{% else %}
				<p class="lead">No review by Shantnu</p>


			{% endif %}

		</div>
	</div>

		

	
	<div class="container review_ashesh">
		<div class="jumbotron border">

			{% if ashesh_post != None %}

				<!-- Review Title -->
				<div class="mx-3 pr-0 pr-md-3 mb-4 d-flex">				

					<!-- this is for all devices except small screen ones -->
					<h2 class="display-4 d-none d-md-block d-lg-block d-xl-block font-weight-bold">{{ashesh_post.reviewTitle}}</h2>

					<!-- this div is only for small screen and xs screens -->
					<h2 class="display-5 d-xs-block d-sm-block d-md-none font-weight-bold">{{ashesh_post.reviewTitle}}</h2>

					<div class="col"></div>

					<!-- Avatar pic -->
					<img class="img-fluid" src="/media/reviewerInfo/ashesh/avatar_ashesh.jpg" alt="avatar_ashesh" height="100rem" width="100rem">		

				</div>


				<!-- Review time/date -->
				<div class="row mx-3 my-2">
					<h6 class="lead">reviewed on {{ashesh_post.reviewDate}}</h6>
				</div>


				<!-- Yellow Line -->
				<div class="row ml-1">
					<div class="col-5 text-left"> 
						<hr class="yellowSeparator">
					</div>
					<div class="col"></div>
					<br><br>
				</div>


				<!-- Content -->

				<div class="row mx-1 justify-content-center">
					{{ashesh_post.reviewBody|safe|linebreaks}}
				</div>



				{% else %}
				<p class="lead">No review by Ashesh</p>


			{% endif %}

		</div>
	</div>


	
	
	<div class="container review_jayant">
		<div class="jumbotron border">

			{% if jayant_post != None %}

				<!-- Review Title -->
				<div class="mx-3 pr-0 pr-md-3 mb-4 d-flex">				

					<!-- this is for all devices except small screen ones -->
					<h2 class="display-4 d-none d-md-block d-lg-block d-xl-block font-weight-bold">{{jayant_post.reviewTitle}}</h2>

					<!-- this div is only for small screen and xs screens -->
					<h2 class="display-5 d-xs-block d-sm-block d-md-none font-weight-bold">{{jayant_post.reviewTitle}}</h2>

					<div class="col"></div>

					<!-- Avatar pic -->
					<img class="img-fluid" src="/media/reviewerInfo/jayant/avatar_jayant.jpeg" alt="avatar_jayant" height="100rem" width="100rem">		

				</div>


				<!-- Review time/date -->
				<div class="row mx-3 my-2">
					<h6 class="lead">reviewed on {{jayant_post.reviewDate}}</h6>
				</div>


				<!-- Yellow Line -->
				<div class="row ml-1">
					<div class="col-5 text-left"> 
						<hr class="yellowSeparator">
					</div>
					<div class="col"></div>
					<br><br>
				</div>


				<!-- Content -->

				<div class="row mx-1 justify-content-center">
					{{jayant_post.reviewBody|safe|linebreaks}}
				</div>



				{% else %}
				<p class="lead">No review by Jayant</p>


			{% endif %}

		</div>
	</div>




	<div class="container review_placeholder">
		<div class="jumbotron border">

				<!-- Review Title -->
				<div class="mx-3 pr-0 pr-md-3 mb-1 d-flex">				

					<!-- this is for all devices except small screen ones -->
					<h2 class="display-4 d-none d-md-block d-lg-block d-xl-block font-weight-bold">Click on names for the review!</h2>

					<!-- this div is only for small screen and xs screens -->
					<h2 class="display-5 d-xs-block d-sm-block d-md-none font-weight-bold">Click on names for the review!</h2>

				</div>

				<!-- Yellow Line -->
				<div class="row ml-1">
					<div class="col-5 text-left"> 
						<hr class="yellowSeparator">
					</div>
					<div class="col"></div>
					<br><br>
				</div>


				<!-- Content -->

				<div class="row mx-1 justify-content-center">
					<p class="lead">
						The buttons are just there :)
					</p>
				</div>


		</div>
	</div>







{% endblock %}	