<!DOCTYPE html>
<html lang="en">

<head>

	<title>Escape Sequence</title>
	<meta charset="utf-8" />
	{% load static %}


	<!-- This is the JS file for jQuery -->
	<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- This is the JS file for the nav dropdown to work  -->
	<script src="{% static 'movies/js/bootstrap.bundle.js' %}"></script>


	<!-- this is main bootstrap CSS file -->
	<link rel="stylesheet" href="{% static 'movies/css/bootstrap.min.css' %}" type = "text/css"/>



	
	<!-- This is the JS file for review button logic -->
	<script src="{% static 'movies/js/showReviewScript.js' %}"></script>


	<!-- This is the JS file for movie filter button logic -->
	<script src="{% static 'movies/js/showMovieFilters.js' %}"></script>


	<!-- this is my custom CSS file -->
	<link rel="stylesheet" href="{% static 'movies/css/myCustomCSS.css' %}" type = "text/css"/>


	
	<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> -->

	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	


	<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172482663-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-172482663-1');
		</script> -->
	<!-- end of Google Analytics script -->


</head>


<body class="body">


	<!-- Navbar code -->

	<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">


		<!-- Escape Sequence Logo -->
		<a class="navbar-brand" href="/"><h4>Escape Sequence</h4></a>


		<!-- Toggler icon for small screens -->
		<button class="navbar-toggler" onclick="$('#navbarTogglerDemo02').toggleClass('collapse')" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	


		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">

			<ul class="navbar-nav mr-auto mx-3">

				<!-- Link to home/feed page -->
				<li class="nav-item active mx-3 text-md-center">
					<a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
				</li>


				<!-- Link to movies page -->
				<li class="nav-item active mx-3 text-md-center">
					<a class="nav-link" href="/movies">Movies<span class="sr-only">(current)</span></a>
				</li>


				<!-- Editors list dropdown -->
				<li class="nav-item dropdown">

					<a class="nav-link dropdown-toggle active mx-3 text-md-center"  href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editors Lists</a>

					<div class="dropdown-menu bg-dark text-md-center" style="background-color:#1a1a1a!important;" aria-labelledby="navbarDropdown2">

						<a class="dropdown-item" href="/ankur">Ankur</a>
						<a class="dropdown-item" href="/dipen">Dipen</a>
						<a class="dropdown-item" href="/ashesh">Ashesh</a>
						<a class="dropdown-item" href="/jayant">Jayant</a>
						<a class="dropdown-item" href="/shantnu">Shantnu</a>
						<!-- <div class="dropdown-divider"></div> -->

					</div>

				</li>


				<!-- Link to About Us page (need to put this in footer)-->
				<li class="nav-item mx-3 text-md-center">
					<a class="nav-link" href="/aboutus"> About Us </a>
				</li>

			</ul>


			<!-- search box -->
			<form class="form-inline my-1 my-lg-0"  action="{% url 'movie-search' %}" method="GET" value="{{request.GET.q}}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search Movies" name="q" value="{{request.GET.q}}">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
			</form>

		</div>
	
	</nav>




	<div class="container">
		{% block content %}{% endblock %}	
	</div>

	

	<!-- <footer class="footer border">
		<div class="container">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer> -->
	



	 
</body>



</html>






