<!DOCTYPE html>
<html lang="en">

<head>

	<title>Escape Sequence</title>
	<meta charset="utf-8" />
	{% load static %}


	<!-- This is the JS file for jQuery and the review button logic -->
	<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'movies/js/showReviewScript.js' %}"></script>


	<link rel="stylesheet" href="{% static 'movies/css/bootstrap.min.css' %}" type = "text/css"/>
	<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> -->

	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	

	<!-- this is main CSS file -->
	<link rel="stylesheet" href="{% static 'movies/css/myCustomCSS.css' %}" type = "text/css"/>



</head>


<body class="body">

	
	<!-- Navbar code -->

	<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">

		<a class="navbar-brand" href="/"><h4>Escape Sequence</h4></a>

		<button class="navbar-toggler" onclick="$('#navbarTogglerDemo02').toggleClass('collapse')" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">

			<ul class="navbar-nav mr-auto mx-3">

				<li class="nav-item active mx-3 text-md-center">
					<a class="nav-link" href="/movies"> Movies <span class="sr-only">(current)</span></a>
				</li>


				<li class="nav-item mx-3 text-md-center">
					<a class="nav-link" href="/aboutus"> About Us </a>
				</li>

			</ul>

			<form class="form-inline my-1 my-lg-0"  action="{% url 'movie-search' %}" method="GET" value="{{request.GET.q}}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search Movies" name="q" value="{{request.GET.q}}">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
			</form>

		</div>
	
	</nav>




	<div class="container">
		{% block content %}{% endblock %}	
	</div>

		

	<!-- <footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">Instagram</a> | <a href="#" target="blank">Twitter</a> </p>
		</div>
	</footer>	
	 -->

	 
</body>

</html>






