{% extends "movies/header.html" %}


{% block content %}


    {% for post in object_list %}

    <div class="row">

	<!-- This is the first 2/3rds which will contain the movie posters -->
    
	<div class="col-8">

        <div class="card m-2">

            <div class="card-body text-center">


                <button class="card-title navbar-toggler" onclick="$('#navbarTogglerDemo{{post.id}}').toggleClass('collapse')" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo{{post.id}}" aria-controls="navbarTogglerDemo{{post.id}}" aria-expanded="false" aria-label="Toggle navigation">
                    {{post.movieTitle}}
                </button>
            
                
                <p class="card-text">{{post.releaseYear}}</p>

                <a href="/movie/{{post.id}}">
                    <img src="{{post.moviePoster.url}}" class="img-fluid" alt="{{post.moviePoster.url}}" height="200rem" width="200rem">
                </a>
               

            </div>

        </div>


	</div>



	<!-- This is the last 1/3rd which will contain the movie summary and ratings -->


	<div class="col-4">

		<div class="collapse navbar-collapse" id="navbarTogglerDemo{{post.id}}">

			<p>{{ post.movieSummary }}</p>			
<!-- 
			<div class="container m-3">

				<button class="btn btn-outline-dark review_ankur_button" type="button" data-toggle="collapse">A</button>
				
				<button class="btn btn-outline-dark review_dipen_button" type="button" data-toggle="collapse">D</button>
			
				<button class="btn btn-outline-dark review_shantnu_button" type="button" data-toggle="collapse">S</button>
			
				<button class="btn btn-outline-dark review_ashesh_button" type="button" data-toggle="collapse">H</button>
			
				<button class="btn btn-outline-dark review_jayant_button" type="button" data-toggle="collapse">J</button>

			</div> -->

		</div>


	</div>



			{% empty %}
		<li>No articles yet.</li>

	
			
    {% endfor %}
</div>




{% endblock %}	


