{% extends "movies/header.html" %}

{% block content %}


<div class="jumbotron">

    <h2 class="display-4">Escape Sequence Movie Reviews</h2>

    <br><br>

    <h4>1 movie, 5 POVs</h4>

    <br> <br> 

    <p class="lead">
        <a href="/home" style="color: #f2d517;">Click here to get started!</a> 
        or search for any movie, actor, director in the search box!
    </p>
    

    <br> <br> <br> 

    <p class="text-muted">
        {Add better Landing Page Description} <br> <br>
        Note: This is a pre-production developement website, and does not contain any actual reviews.
    </p>

</div>



		
{% endblock %}	



