{% extends "movies/header.html" %}

{% load static %}

{% block content %}



	<!-- This is the container for row of buttons -->


		<!-- this div is for all devices except small screen ones -->
		<div class="row align-items-center my-4 d-none d-md-block d-lg-block d-xl-block">

			<div class="btn-toolbar justify-content-center mt-4 btn-block" role="toolbar" aria-label="Toolbar with button groups">

				<div class="btn-group" role="group" aria-label="First group">
					<button type="button" style="width: 10rem;" class="btn mx-4 mt-4 btn-outline-light all_movies_button">All Movies</button>
				</div>
		
				<div class="btn-group" role="group" aria-label="Second group">
					<button type="button" style="width: 10rem;" class="btn mx-4 mt-4 btn-outline-light genres_button">Movies by Genres</button>
				</div>
		
				<div class="btn-group" role="group" aria-label="Third group">
					<button type="button" style="width: 10rem;" class="btn mx-4 mt-4 btn-outline-light moods_button">Movies by Moods</button>
				</div>
		
				<div class="btn-group" role="group" aria-label="Fourth group">
					<button type="button" style="width: 10rem;" class="btn mx-4 mt-4 btn-outline-light ratings_button">Movies by Ratings</button>
				</div>
		
			</div>

		</div>


		<!-- this div is only for small screen and xs screens -->
		<div class="row align-items-center my-2 d-xs-block d-sm-block d-md-none">

			<div class="btn-toolbar justify-content-center mt-4 btn-block" role="toolbar" aria-label="Toolbar with button groups">

				<div class="btn-group" role="group" aria-label="First group">
					<button type="button" style="width:8rem;" class="btn mx-2 my-2 btn-outline-light all_movies_button">All Movies</button>
				</div>
		
				<div class="btn-group" role="group" aria-label="Second group">
					<button type="button" style="width:8rem;" class="btn mx-2 my-2 btn-outline-light genres_button">Movies by Genres</button>
				</div>
		
				<div class="btn-group" role="group" aria-label="Third group">
					<button type="button" style="width:8rem;" class="btn mx-2 my-2 btn-outline-light moods_button">Movies by Moods</button>
				</div>
		
				<div class="btn-group" role="group" aria-label="Fourth group">
					<button type="button" style="width:8rem;" class="btn mx-2 my-2 btn-outline-light ratings_button">Movies by Ratings</button>
				</div>
		
			</div>

		</div>




	
	<!-- From here, it's basically all the data -->



	<span class="all_movies">

		<!-- All Movies -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">All Movies reviewed by us</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if all_movies != None %}

				<div class="row justify-content-center">

					{% for post in all_movies %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>

	</span>




	
	<span class="genres">

		<!-- Mind Bending -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">Mind Bending</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if lomWithGenreMindBending != None %}

				<div class="row justify-content-center">

					{% for post in lomWithGenreMindBending %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>


		<!-- Superhero -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">Superhero</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if lomWithGenreSuperhero != None %}

				<div class="row justify-content-center">

					{% for post in lomWithGenreSuperhero %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>


	</span>



	
	<span class="moods">

		<!-- "High on Life" -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">High on Life</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if lomWithMoodHighOnLife != None %}

				<div class="row justify-content-center">

					{% for post in lomWithMoodHighOnLife %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>


		<!-- "Scared Shitless" -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">Scared Shitless</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if lomWithMoodScaredShitless != None %}

				<div class="row justify-content-center">

					{% for post in lomWithMoodScaredShitless %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>

	</span>




	<span class="ratings">

		<!-- "All 5 of us liked these" -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">All 5 of us liked these</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if listOfMoviesWithFiveLikes != None %}

				<div class="row justify-content-center">

					{% for post in listOfMoviesWithFiveLikes %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>

	</span>


	

	<span class="placeholder">

		<!-- All Movies -->
		<div class="jumbotron">

			<!-- Title -->
			<div class="row mx-3 mb-2">
				<h2 class="display-5 font-weight-bold">All Movies reviewed by us</h2>
			</div>


			<!-- Yellow Line -->
			<div class="row ml-1">
				<div class="col-5 text-left"> 
					<hr class="yellowSeparator">
				</div>
				<div class="col"></div>
				<br><br>
			</div>


			<!-- Content -->
			{% if all_movies != None %}

				<div class="row justify-content-center">

					{% for post in all_movies %}
					
						<div class="card m-3 mb-3" style="width: 20rem;">

							<div class="card text-center flex-column h-100">
								<a href="/movie/{{post.id}}">
									<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
								</a>
								
								<div class="card-body">
									<h4>
										<a class="card-title align-middle" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">{{post.movieTitle}}</a>
									</h4>
			
									<p class="card-text lead">{{post.releaseYear}}</p>
								</div>

							</div>

						</div>
				
					{% endfor %}


				</div>



				{% else %}
				<p class="lead">Oops! Something went wrong!</p>

			{% endif %}

		</div>

	</span>





{% endblock %}	


