{% extends "movies/header.html" %}

{% load static %}

{% block content %}


	<div class="row justify-content-center">


		{% for post in results %}
		
			<div class="card m-3">

				<div class="card-body text-center">

					<a class="card-title" data-toggle="collapse" href="/movie/{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{post.id}}"  aria-labelledby="heading{{post.id}}">
						{{post.movieTitle}}
					</a>

	
					<p class="card-text">{{post.releaseYear}}</p>

					<a href="/movie/{{post.id}}">
						<img src="{{post.moviePoster.url}}" class="img-fluid img-responsive" alt="{{post.moviePoster.url}}" height="300rem" width="300rem">
					</a>
					

				</div>

			</div>



			{% empty %}
			<div>
                <br><br>
                <p class="lead">We haven't reviewed that one yet ;)</p>
            </div>

		

		{% endfor %}


	
	</div>

{% endblock %}	


