{% extends "movies/header.html" %}


{% block content %}



	<!-- This is the part for "These were nice" -->

	<div class="jumbotron">

		<!-- Title -->
		<div class="row mx-3 mb-2">
			<h2 class="display-5 font-weight-bold">These were nice</h2>
		</div>


		<!-- Yellow Line -->
		<div class="row ml-1">
			<div class="col-5 text-left"> 
				<hr class="yellowSeparator">
			</div>
			<div class="col"></div>
			<br><br>
		</div>


		<!-- Content -->
		{% if lomWithGenreComedy != None %}

			<div class="row justify-content-center">

				{% for post in lomWithGenreComedy %}
				
					<div class="card m-3 mb-3" style="width: 20rem;">

						<div class="card text-center flex-column h-100">
							<a href="/movie/{{post.id}}">
								<img class="card-img-top img-fluid img-responsive" src="{{post.moviePoster.url}}" alt="{{post.moviePoster.url}}">
							</a>
							
							<div class="card-body">
								<h4>
									<a class="card-title align-middle" href="/movie/{{post.id}}">{{post.movieTitle}}</a>
								</h4>
		
								<p class="card-text lead">{{post.releaseYear}}</p>
							</div>

						</div>

					</div>
			
				{% endfor %}


			</div>



			{% else %}
			<p class="lead">Oops! Something went wrong!</p>

		{% endif %}

	</div>






{% endblock %}	


